{% extends 'base.html'%} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}" />
<link rel="stylesheet" href="{% static 'servicos/css/listar_servicos.css' %}" />
{% endblock %} {% block 'dashboard' %}
<br />
<br />
<div class="container-fluid distanciamento">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Identificador</th>
          <th scope="col">Título</th>
          <th scope="col">Cliente</th>
          <th scope="col">Status</th>
          <th scope="col">Preço total</th>
        </tr>
      </thead>
      <tbody>
        {%for servico in servicos%}
        <tr>
          <th><a href="{% url 'servico' servico.identificador %}">{{servico.identificador}}</a></th>
          <td>{{servico.titulo}}</td>
          <td>{{servico.cliente.nome}}</td>
          <td>
            {% if servico.finalizado %}
            <span class="badge text-bg-success">Finalizado</span>
            {% else %}
            <span class="badge text-bg-info">Em manutenção</span>
            {%endif%}
          </td>
          <td>{{servico.preco_total}} mts</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock%}
